@model gerenciamentodechamados.Models.Chamado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chamado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataDeVencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataDeVencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nivelPrioridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nivelPrioridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.notas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataDeConclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataDeConclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoDeManutenção)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoDeManutenção)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
